body{
  background-color: rgba(161,238,255,1);
  padding: 50px;
  box-sizing: border-box;
}

.title_img {
  width: 100%;
  text-align: center;
  padding: 10px 0 50px 0;
  box-sizing: border-box;
}

.logo {
  width: 185px;

}

.map{
  width: 700px;
}
a {
  text-decoration: none;
}
country{
  font-family: "Cinzel",serif;
  display: block;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.7em;
  color:#092d61;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
  cursor: pointer;
}
country:hover{
  color: white;
  left: 10px;
}

.hkflightlines{
  position: absolute;
  width: 255px;
  top:391px;
  left:780px;
  display: none;
}
#hk1{
  width: 300px;
  height: 50px;
  position: absolute;
  background-color: red;
  top: 350px;
  display: none;
}
#countries_container{
  display: inline-block;
  width: 29%;
  padding-right: 40px;
  box-sizing: border-box;
}
#map_container{
  display: inline-block;
  width: 70%;
  text-align: left;

}
#global_container{
    padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.me-container{
  position: relative;
  display: block;
  left: 425px;
  top: -177px;
  width: 0;
  height:0;
}
.uk-container{
  position: relative;
  display: block;
  left: 331px;
  top: -243px;
  width: 0;
  height:0;
}
.au-container{
  position: relative;
  display: block;
  left: 603px;
  top: -90px;
  width: 0;
  height:0;
}
.sea-container{
  position: relative;
  display: block;
  left: 550px;
  top: -192px;
  width: 0;
  height:0;
}
.sea-container span{
  left:-50px;
  top:-50px;
}
.au-container span{
  left: -100px;
  top: -100px;
}
.me-container span{
  left:-100px;
}
.locator span.hover{
  left:0;
  top:0;
}
.locator span{
  position: absolute;
  display: block;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 3px solid transparent;
  background:transparent;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.locator span.hover{
  border: 3px #092d61 solid;
  background: white;
  transition: all 0.2s ease-in-out;
  height: 30px;
  width: 30px;
}
